<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<div class="index">
    <div class="head">
        <h1>Proyecto para Interfaces de Usuario</h1>
    </div>
    <br>
    <div class="inicio">
        <a id="link-ini" href="/">Inicio</a>
    </div>
    <br>
    <div class="Wp-0">
        <img src="https://c4.wallpaperflare.com/wallpaper/500/442/354/outrun-vaporwave-hd-wallpaper-preview.jpg" alt="Wp-0">
    </div>
    
</div>