.head {
    align-content: center;
    background: darkred;
    color: white;
    padding: 1px;
    text-align: center;
    font-family: 'Montserrat';
}

.Wp-0 {
    text-align: center;
}

.inicio{
    text-align: center;
}

a#link-ini {
    color: white;
    background: darkmagenta;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: bold;
    text-decoration: none;
    font-size: large;
}

a#link-ini:hover {
    color: darkmagenta;
    background: white;
    padding: 10px;
    border-radius: 10px;
    border-color: darkmagenta;
    border-style: solid;
    border-width: 2px;
    font-family: 'Montserrat';
    font-weight: bold;
    text-decoration: none;
    font-size: large;
}